extends ../layout

block content
  h1= title
  if bookInstanceList.length
    table.table.table-hover
      thead
        tr
          th Title
          th Imprint
          th Status
          th Due Back
      tbody
      each copy in bookInstanceList
        tr(class=bookInstance.availability)
          td
            a(href=bookInstance.url) #{ bookInstance.book.title }
          td #{ bookInstance.imprint }
          td #{ bookInstance.status }
          td
            if 'Loaned' === bookInstance.status
              span #{ bookInstance.dueBackLocaleString }
  else
    p There are no book copies in this library.
